/*reset*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;font-family:"微软雅黑";}
img{border:none;}
li{list-style:none;}
a{text-decoration:none;color:#656565;}

.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

/*公用*/
.fl{float:left;}
.fr{float:right;}

/*头部*/
#back{
	position:fixed;
	bottom:30px;
	left:10px;
}
.header{
	position:relative;
}
.bg-pic{
	width:1263px;
	height:550px;
	overflow:hidden;
}
.bg-pic img{
	width:1263px;
}
.header-info{
	width:600px;
	height:150px;
	position:absolute;
	left:25%;
	top:47%;
	text-align:center;
}
.name{
	color:#FFF;
	font-size:40px;
	font-weight:normal;
	height:60px;
}
.hr-2{
	height:4px;
	width:150px;
	background-color:#B3B3B3;
	margin:0 auto;
}
.header-info p{
	padding-top:20px;
	color:#FFF;
	font-size:18px;
	line-height:22px;
}

/*文章分类nav*/
.wrap{
	width:1000px;
	margin:0 auto;
}
.main-nav{
	height:60px;
	width:600px;
	padding-top:35px;
	margin:0 auto;
	text-align:center;
}
.main-nav li{
	float:left;
	margin:0 10px;
}
.main-nav a{
	display:block;
	font-size:18px;
	font-weight:bold;
	padding:5px 13px;
	border:1px solid #656565;
	border-radius:13px;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
}
.main-nav a:hover,.main-nav .ahover{
	background:#000;
	color:#FFF;
}
/*artical*/

.article{
	margin:20px 15px;
	width:460px;
	height:470px;
	padding:5px;
	float:left;
}
.art-pic{
	margin-bottom:20px;
}

.huxi{
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	box-shadow: 0px 0px 18px rgba(0,0,0,.5);
	transition: all 0.5s ease-out; 		//chome使用
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}

.art-pic img{
	width:460px;
	height:260px;
	border-bottom:2px solid #CC0066;
}
.text-left{
	width:60px;
	padding-right:10px;
	height:187px;
	border-right:2px solid #aaa;
	float:left;
	text-align:center;
}
.art-date{
	height:70px;
	border-bottom:2px #aaa solid;
}
.art-date p{
	color:#aaa;
	font-size:22px;
	font-weight:bold;
}
.art-hot{
	width:40px;
	padding-top:40px;
	margin:10px auto;
	background:url(img/aixin.png) no-repeat center 0px;
	color:#aaa;
	font-size:22px;
	font-weight:bold;
}
.text-right{
	position:relative;
	width:360px;
	height:190px;
	float:left;
	padding-left:10px;
}
.art-title a{
	line-height:30px;
	font-size:22px;
	color:#555;
}
.art-title a:hover{
	color:#CD4345;
}
.art-info{
	font-size:14px;
	color:#AEA7A8;
	line-height:45px;
}
.art-short{
	font-size:16px;
	color:#4D4D4D;
}
.more{
	position:absolute;
	bottom:3px;
}
.more a:hover{
	color:#E10202;
}
